<feelback-web-header [hideMenuItems]="true"></feelback-web-header>

<header class="bg-gradient" id="privacy-header"></header>

<div class="section-medium" id="privacy" data-cy="privacy-section">
  <div class="container">
    <div class="row" data-cy="privacy-row">
      <div class="col-lg-12">
        <h2 data-cy="privacy-title">
          {{ 'app.pages.privacy.title' | translate }}
        </h2>
        <hr />
        <br />
        <h4 style="margin-bottom: 1.5rem;" data-cy="privacy-tagline">
          {{ 'app.pages.privacy.tagline' | translate }}
        </h4>
        <h6 style="margin-bottom: 1.5rem;" data-cy="privacy-note">
          {{ 'app.pages.privacy.note' | translate }}
        </h6>
        <p class="mb-2" data-cy="privacy-date">
          {{ 'app.pages.privacy.date' |translate }}
        </p>
      </div>
    </div>
  </div>
</div>

<div class="section" data-cy="privacy-markdown-section">
  <div class="container">
    <markdown
      [src]="getMarkdownFile('privacy')"
      data-cy="privacy-markdown-template"
      >{{getMarkdownFile('privacy')}}</markdown
    >
  </div>
</div>

<feelback-web-divider></feelback-web-divider>
<feelback-web-logo> </feelback-web-logo>
