<header>
  <button id="toggle" mat-flat-button color="primary">Toggle filter</button>
  <label id="filter-label">Quick filters:</label>
  <mat-form-field>
    <mat-label>Filter patients and organizations</mat-label>
    <input
      matInput
      type="text"
      (keyup)="applyFilter($event)"
      autocomplete="off"
    />
  </mat-form-field>
</header>
<mat-card>
  <mat-card-header>
    <mat-card-title>List</mat-card-title>
    <mat-card-subtitle>of Patients</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    ></mat-paginator>
    <table mat-table matSort [dataSource]="dataSource">
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let patient; columns: displayedColumns" (click)="selectPatient(patient)"></tr>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>

      <ng-container matColumnDef="organization">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Organization</th>
        <td mat-cell *matCellDef="let element">{{element.organization}}</td>
      </ng-container>

      <ng-container matColumnDef="consultation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Consultation</th>
        <td mat-cell *matCellDef="let element">
          <img
            *ngIf="element.consultation"
            height="15"
            src="assets/img/check.png"
            alt="check"
          />
          <img
            *ngIf="!element.consultation"
            height="15"
            src="assets/img/uncheck.png"
            alt="uncheck"
          />
        </td>
      </ng-container>

      <ng-container matColumnDef="rating">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Rating</th>
        <td mat-cell *matCellDef="let element">
          <mat-chip-list>
            <mat-chip
              [color]="element.rating > 50 ? 'accent' : 'warn'"
              selected
            >
              {{element.rating}}
            </mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>
    </table>
  </mat-card-content>
</mat-card>
