mat-card{
  margin-top: 1em;
}

mat-form-field{
  min-width: 200px;
  width: 33%;
  margin-left: 1em;
}

.spacer {
  flex: 1 1 auto;
}

.action{
  display: flex;
}

table {
  width: 100%;
}

tr.mat-row:hover{
  background-color: #eeeeee;
  cursor: pointer;
}

.mat-subheading-1{
  margin-top: 2em;
}

mat-slider{
  min-width: 300px;
}