#toggle{
  margin-right: 5em;
}

#filter-label{
  margin-right: 2em;
}

mat-form-field{
  min-width: 300px;
}

table {
  width: 100%;
}

tr.mat-row:hover{
  background-color: #eeeeee;
  cursor: pointer;
}