#screening-overview {
  margin-left: 2em;
}

.avatar {
  display: inline-flex;
  vertical-align: middle;
  font-size: 40px;
}

.chart-wrapper {
  height: 300px;
}

table {
  width: 100%;
}

.progress-value {
  margin-top: 2em;
}
