/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.cdk-overlay-container {
  z-index: 9999;
}

@import './theme/variables.scss';
@import './theme/template.scss';

$color-base: #ff487e !default;
$color-white: #fff !default;
$color-gray: #e7d9eb !default;

$dot-width: 35px !default;
$dot-height: 8px !default;
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
