<mat-card id="action-bar">
  <mat-card-header class="header">
    <mat-icon mat-card-avatar class="header-avatar">{{
      commonService.icons.patient
    }}</mat-icon>
    <mat-card-title>{{ patient.pseudonym }}</mat-card-title>
    <mat-card-subtitle>Patient</mat-card-subtitle>
    <span class="spacer"></span>
    <span>
      <button
        mat-icon-button
        aria-label="Print screening"
        class="action"
        (click)="printScreening()"
      >
        <mat-icon>{{ commonService.icons.print }}</mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="Download screening"
        matTooltipPosition="above"
        aria-label="Download screening"
        class="action"
        (click)="downloadScreening(screening)"
      >
        <mat-icon>{{ commonService.icons.download }}</mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="Copy URL to clipboard"
        matTooltipPosition="above"
        aria-label="Copy URL"
        class="action"
        (click)="copyURL()"
      >
        <mat-icon>{{ commonService.icons.copy }}</mat-icon>
      </button>
    </span>
    <span class="mat-caption mat-paginator screenings-label">
      Browse screenings of {{ screeningService.timerange }}
    </span>
    <mat-paginator
      [length]="screeningService.screenings.length"
      pageSize="1"
      showFirstLastButtons
      [pageIndex]="screeningService.index"
      hidePageSize="true"
      (page)="changePage($event)"
    ></mat-paginator>
  </mat-card-header>
</mat-card>
