@import 'variables';

.locale-wrapper {
  margin-top: 1em;
}

.locale {
  margin-right: 3em;
  cursor: help;
}

#change-locale {
  cursor: pointer;
}

#surveyContainer {
  overflow-y: auto;
  overflow-x: hidden;
  height: 60vh;
}

.sv-question, .sq-root {
  border: 1px solid $light-grey;
  border-left: 4px solid $primary;
  border-radius: 5px;
  padding: 10px 20px;
}

.sv-title {
  font-size: 20px !important;
  color: black;
}

.sv-question__title--answer {
  background-color: unset !important;
}

.sv-root-modern .sv-radio--disabled.sv-radio--checked .sv-radio__svg {
  fill: $primary !important;
}

.sv-question,
.sv-row__question,
.sv_qstn,
.sv-row__question--small {
  min-width: 100%;
}

.sv-selectbase__item {
  margin-bottom: 0 !important;
}

textarea:disabled {
  background-color: unset;
  width: 94%;
  resize: none !important;
  border: none;
}
