<div *ngIf="instruments$ | async as instruments; else loading">
  <div *ngIf="instruments.length > 0">
    <div
      *ngFor="let instrument of instruments"
      class="choose-instrument"
      [routerLink]="'./' + instrument.id"
    >
      <mat-card class="choose-instrument-card">
        <mat-card-header>
          <img mat-card-avatar [src]="instrument.image" />
          <mat-card-title>{{ instrument.name }}</mat-card-title>
          <mat-card-subtitle>Instrument</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="info">
            <span>
              <span class="mat-body-strong">Version: </span>
              <span>{{ instrument.version }}</span>
            </span>
            <span>&bull;</span>
            <span>
              <span class="mat-body-strong">Created at: </span>
              <span>{{ instrument.createdAt | date: 'dd.MM.yyy' }}</span>
            </span>
            <span>&bull;</span>
            <span>
              <span class="mat-body-strong">Updated at: </span>
              <span>{{ instrument.updatedAt | date: 'dd.MM.yyy' }}</span>
            </span>
          </div>
          <div class="justify-text">
            {{ instrument.description }}
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div *ngIf="instruments.length === 0">
    <feelback-doctor-empty-state
      [entity]="'instrument'"
    ></feelback-doctor-empty-state>
  </div>
</div>

<ng-template #loading>
  <feelback-doctor-loading></feelback-doctor-loading>
</ng-template>
