<div class="client-logos my-5">
  <div class="container text-center" data-cy="logos-container">
    <img
      class="client-logo img-fluid"
      src="./assets/images/logos/logo-uniklinik-ulm.png"
      data-cy="uniklinik-logo"
    />
    <img
      class="client-logo img-fluid"
      src="./assets/images/logos/logo-uni-ulm.svg"
      data-cy="uni-logo"
    />
    <img
      class="client-logo img-fluid"
      src="./assets/images/logos/logo-kbs-ulm.jpg"
      data-cy="kbs-logo"
    />
    <img
      class="client-logo img-fluid"
      src="./assets/images/logos/logo-bawue.png"
      data-cy="bawue-logo"
    />
    <img
      class="client-logo img-fluid"
      src="./assets/images/logos/logo-bawue-digital.png"
      data-cy="bawue-digital-logo"
    />
  </div>
</div>
