<button mat-raised-button class="nav-button" routerLink="/patients">
  <mat-icon>{{commonService.icons.patient}}</mat-icon>
  Show patients
</button>
<button
  *ngIf="router.url.split('/').length > 4"
  mat-raised-button
  class="nav-button"
  [routerLink]="'/patients/' + this.patient.id"
>
  <mat-icon>{{commonService.icons.instrument}}</mat-icon>
  Show instruments
</button>
<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title class="title-position">{{ patient.name }}</mat-card-title>
    <mat-card-subtitle class="title-position"
      >{{ patient.organization }}</mat-card-subtitle
    >
    <span class="spacer"></span>
    <div class="stats">
      <span
        class="stats-value"
        matTooltip="Consultation"
        matTooltipPosition="above"
      >
        <mat-icon
          [matBadge]="patient.consultation ? '✓' : '×'"
          [matBadgeColor]="patient.consultation ? 'accent' : 'warn'"
          matBadgeOverlap="false"
          >{{commonService.icons.consultation}}</mat-icon
        >
      </span>
      <span class="stats-value" matTooltip="Rating" matTooltipPosition="above">
        <mat-icon
          [matBadge]="patient.rating"
          [matBadgeColor]="patient.rating > 50 ? 'accent' : 'warn'"
          matBadgeOverlap="false"
          >{{commonService.icons.rating}}</mat-icon
        >
      </span>
      <span
        class="stats-value"
        matTooltip="Instruments"
        matTooltipPosition="above"
      >
        <mat-icon
          [matBadge]="patient.instruments"
          matBadgeColor="primary"
          matBadgeOverlap="false"
          >{{commonService.icons.instrument}}</mat-icon
        >
      </span>
      <span
        class="stats-value"
        matTooltip="Screenings"
        matTooltipPosition="above"
      >
        <mat-icon
          [matBadge]="patient.screenings"
          matBadgeColor="primary"
          matBadgeOverlap="false"
          >{{commonService.icons.screening}}</mat-icon
        >
      </span>
    </div>
  </mat-card-header>
  <mat-card-content>
    <nav mat-tab-nav-bar *ngIf="showTabBar">
      <a
        mat-tab-link
        *ngFor="let link of links"
        [routerLink]="link.link"
        routerLinkActive
        #rla="routerLinkActive"
        [active]="rla.isActive"
      >
        {{link.label}}
      </a>
    </nav>
  </mat-card-content>
</mat-card>

<router-outlet></router-outlet>
