.wrapper {
  display: flex;
  justify-content: center;
}

feelback-doctor-circle-image {
  text-align: left;
  margin-right: 2em;
}

.error-code {
  font: 300 200px/200px Roboto, 'Helvetica Neue', sans-serif;
  letter-spacing: -0.05em;
  margin: 50px 0 20px;
}
