@import 'variables';

.choose-instrument {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.choose-instrument-card {
  width: calc(50% - 50px);
  min-width: 450px;
  margin-bottom: 2em;
  cursor: pointer;
}

.choose-instrument-card:hover {
  background: $hover;
}

.info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5em;
}

.divider {
  color: $primary;
  position: relative;
  top: 2px;
}

.justify-text {
  text-align: justify;
}
