#navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.feelback-logo {
  height: 50px;
}

.feelback-logo:focus {
  outline: none;
}

.icon {
  padding: 0 14px;
}

.user-icon{
  margin-right: .25em;
}
