<div class="nav-menu fixed-top">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav class="navbar navbar-dark navbar-expand-lg">
          <a class="navbar-brand" href="#top">
            {{ 'app.nav.title' | translate }}
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbar"
            aria-controls="navbar"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link active" href="#home">
                  {{ 'app.nav.home' | translate }}
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#features">{{
                  'app.nav.features' | translate
                }}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#gallery">{{
                  'app.nav.gallery' | translate
                }}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">{{
                  'app.nav.contact' | translate
                }}</a>
              </li>
              <li class="nav-item">
                <a href="#download" class="nav-link">
                  {{ 'app.nav.download' | translate }}
                </a>
              </li>
              <li>
                <div class="dropdown">
                  <button
                    class="btn btn-outline-light dropdown-toggle"
                    type="button"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <i class="fas fa-language fa-2x"></i>
                  </button>
                  <div
                    class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton"
                  >
                    <a
                      class="dropdown-item"
                      (click)="this.switchLanguage('en')"
                    >
                      English</a
                    >
                    <a
                      class="dropdown-item"
                      (click)="this.switchLanguage('de')"
                    >
                      Deutsch</a
                    >
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
