<div class="nav-menu fixed-top" [class]="menuClass" data-cy="header-nav-menu">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav
          class="navbar navbar-dark navbar-expand-lg"
          data-cy="header-navbar"
        >
          <a class="navbar-brand" routerLink="" data-cy="header-title">
            {{ 'app.nav.title' | translate }}
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbar"
            aria-controls="navbar"
            aria-expanded="false"
            aria-label="Toggle Navigation"
            data-cy="header-navbar-toggler"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ml-auto" data-cy="header-navbar-nav">
              <li
                *ngIf="!hideMenuItems"
                class="nav-item"
                data-cy="header-navbar-home"
              >
                <a class="nav-link" href="#home">
                  {{ 'app.nav.home' | translate }}
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li
                *ngIf="!hideMenuItems"
                class="nav-item"
                data-cy="header-navbar-features"
              >
                <a class="nav-link" href="#features">{{
                  'app.nav.features' | translate
                }}</a>
              </li>
              <li
                *ngIf="!hideMenuItems"
                class="nav-item"
                data-cy="header-navbar-get-started"
              >
                <a class="nav-link" href="#get-started">{{
                  'app.nav.get-started' | translate
                }}</a>
              </li>
              <li
                *ngIf="!hideMenuItems"
                class="nav-item"
                data-cy="header-navbar-gallery"
              >
                <a class="nav-link" href="#gallery">{{
                  'app.nav.gallery' | translate
                }}</a>
              </li>
              <li
                *ngIf="!hideMenuItems"
                class="nav-item"
                data-cy="header-navbar-download"
              >
                <a href="#download" class="nav-link">
                  {{ 'app.nav.download' | translate }}
                </a>
              </li>
              <li
                *ngIf="!hideMenuItems"
                class="nav-item"
                data-cy="header-navbar-contact"
              >
                <a class="nav-link" href="#contact">{{
                  'app.nav.contact' | translate
                }}</a>
              </li>
              <li class="nav-item" data-cy="header-navbar-language">
                <div class="dropdown">
                  <button
                    class="btn btn-outline-light dropdown-toggle"
                    type="button"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    data-cy="header-navbar-language-button"
                  >
                    <i class="fas fa-language fa-2x"></i>
                  </button>
                  <div
                    class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton"
                    data-cy="header-navbar-dropdown-menu"
                  >
                    <ng-container
                      *ngFor="let option of languageDropdownSelection"
                    >
                      <a
                        id="{{ option.short }}DropdownSelect"
                        class="dropdown-item"
                        (click)="this.switchLanguage(option.short)"
                      >
                        {{ option.full }}</a
                      >
                    </ng-container>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
