<div
  *ngIf="
    ((instrument$ | async)?.data.instruments.edges)[0].node as instrument;
    else loading
  "
>
  <feelback-doctor-distress-thermometer
    *ngIf="instrumentId === '53f2a7c3-9c37-4a52-9194-8a3186af6f57'"
    [instrument]="instrument"
  ></feelback-doctor-distress-thermometer>
  <feelback-doctor-sample-instrument
    *ngIf="instrumentId === '35b24590-cf4a-4bff-9ee4-828dba3cc9e4'"
    >Instrument A</feelback-doctor-sample-instrument
  >
  <feelback-doctor-sample-instrument
    *ngIf="instrumentId === 'f9fe3be8-9749-4c19-b03e-2be4c3e7f958'"
    >Instrument B</feelback-doctor-sample-instrument
  >
  <feelback-doctor-sample-instrument
    *ngIf="instrumentId === 'eab19dff-d4c3-46ae-99df-59db5d8e3842'"
    >Instrument C</feelback-doctor-sample-instrument
  >
</div>

<ng-template #loading>
  <div class="loading">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
</ng-template>
