@import '~@angular/material/theming';

@include mat-core();

$feelback-theme-primary: mat-palette($mat-blue);
$feelback-theme-accent: mat-palette($mat-blue-grey);
$feelback-theme-warn: mat-palette($mat-red);

$feelback-theme: mat-light-theme(
    $feelback-theme-primary,
    $feelback-theme-accent,
    $feelback-theme-warn
);

@include angular-material-theme($feelback-theme);