.header{
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
}

.box{
  width: calc(33% - 15px);
}

.wrapper{
  display: flex;
  justify-content: space-between;
}

#questionnaire{
  width: calc(70% - 10px);
}

#overview{
  width: 30%;
}