@import '~@angular/material/theming';

$feelback-primary: (
  50: #fee4ec,
  100: #fdbccf,
  200: #fc8faf,
  300: #fc8faf,
  400: #f73c76,
  500: #ce0857,
  600: #e40e5b,
  700: #ce0857,
  800: #b90054,
  900: #95004f,
  A100: #fdbccf,
  A200: #fc8faf,
  A400: #ce0857,
  A700: #ce0857,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$feelback-accent: (
  50: #fef8e2,
  100: #fdecb6,
  200: #fce088,
  300: #f7931e,
  400: #faca3a,
  500: #f9c12a,
  600: #f9b424,
  700: #f8a221,
  800: #f7921e,
  900: #f5751a,
  A100: #f7931e,
  A200: #f7931e,
  A400: #f7931e,
  A700: #f7931e,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$feelback-warn: (
  50: #e0f7f9,
  100:#b2ebef,
  200: #80dee5,
  300: #4dd0db,
  400: #26c6d4,
  500:#00bcce,
  600:#00acbc,
  700: #0097a2,
  800: #02838a,
  900:#036060,
  A100: #0098a2,
  A200: #0098a2,
  A400: #0098a2,
  A700: #0098a2,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$feelback-theme-primary: mat-palette($feelback-primary);
$feelback-theme-accent: mat-palette($feelback-accent);
$feelback-theme-warn: mat-palette($feelback-warn);

$primary: mat-color($feelback-theme-primary);
$accent: mat-color($feelback-theme-accent);
$warn: mat-color($feelback-theme-warn);
$light-grey: #adb5bd;
$hover: rgba(0, 0, 0, 0.04);
