@media print {
  .mat-app-background {
    background-color: unset !important;
  }

  main {
    height: fit-content !important;
  }

  feelback-doctor-navbar,
  nav,
  feelback-doctor-action-bar,
  mat-paginator,
  feelback-doctor-footer {
    display: none !important;
  }

  #instrument-info {
    margin-bottom: 1em !important;
  }

  .header {
    display: block !important;
    margin: 0 !important;
  }

  #surveyContainer {
    height: fit-content !important;
  }

  .wrapper {
    flex-direction: column-reverse !important;
  }

  #screening-overview,
  #screening {
    margin: 0 !important;
  }

  #overview,
  .box,
  #questionnaire {
    width: 100% !important;
  }

  mat-card {
    box-shadow: none !important;
  }

  #surveyContainer {
    position: relative !important;
    top: -30px !important;
  }

  #questionnaire {
    margin-top: 5em !important;
  }

  .sv-panel,
  .sv-row,
  .sv-question {
    flex: unset !important;
    flex-wrap: unset !important;
    display: block !important;
  }

  .sv-question, .sv-row__question {
    -webkit-column-break-inside: avoid !important;
    page-break-inside: avoid !important;
    break-inside: avoid !important;
  }

  .sv-row:not(:last-child) {
    padding-bottom: 0em;
  }
}
