<div *ngIf="screenings$ | async as screenings; else loading">
  <mat-card *ngIf="screenings.length > 0">
    <mat-card-header>
      <mat-card-title>
        Distress Thermometer
      </mat-card-title>
      <mat-card-subtitle>
        Screenings
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="chart-wrapper">
        <ngx-charts-line-chart
          [scheme]="commonService.colorScheme"
          xAxis="true"
          yAxis="true"
          yScaleMin="0"
          yScaleMax="10"
          [xAxisTicks]="commonService.xAxisTicks"
          [curve]="commonService.curveStepAfter"
          [results]="screenings"
          (select)="selectScreening($event)"
        >
        </ngx-charts-line-chart>
      </div>
    </mat-card-content>
  </mat-card>
  <div *ngIf="screenings.length === 0">
    <feelback-doctor-empty-state
      [entity]="'screening'"
    ></feelback-doctor-empty-state>
  </div>
</div>

<ng-template #loading>
  <feelback-doctor-loading></feelback-doctor-loading>
</ng-template>
