<footer class="my-5 text-center" data-cy="footer-section">
  <p class="mb-2" data-cy="footer-copyright">
    <small>
      {{ 'app.footer.copyright' | translate }}
      <a href="https://www.uni-ulm.de" target="_blank">{{
        'app.footer.link' | translate
      }}</a>
    </small>
  </p>

  <small data-cy="footer-links">
    <a href="#" class="m-2">{{ 'app.footer.press' | translate }}</a>
    <a href="#" class="m-2">{{ 'app.footer.terms' | translate }}</a>
    <a href="privacy" class="m-2">{{ 'app.footer.privacy' | translate }}</a>
    <a href="imprint" class="m-2">{{ 'app.footer.imprint' | translate }}</a>
  </small>
</footer>
