<footer class="my-5 text-center">
  <p class="mb-2">
    <small>
      {{ 'app.footer.copyright' | translate }}
      <a href="https://www.uni-ulm.de" target="_blank">{{
        'app.footer.link' | translate
      }}</a>
    </small>
  </p>

  <small>
    <a href="#" class="m-2">{{ 'app.footer.press' | translate }}</a>
    <a href="#" class="m-2">{{ 'app.footer.terms' | translate }}</a>
    <a href="#" class="m-2">{{ 'app.footer.privacy' | translate }}</a>
    <a href="#" class="m-2">{{ 'app.footer.imprint' | translate }}</a>
  </small>
</footer>
