<div *ngFor="let organization of organizations">
  <mat-card>
    <mat-card-header>
      <mat-icon mat-card-avatar class="header-avatar">{{
        commonService.icons.organization
      }}</mat-icon>
      <mat-card-title>{{ organization['node'].name }}</mat-card-title>
      <mat-card-subtitle>Organization</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <div class="wrapper">
    <span
      *ngFor="let patient of organization['node']['persons']['edges']"
      class="patients"
    >
      <mat-card class="patient-box" (click)="selectPatient(patient)">
        <mat-card-content>
          {{ patient['node']['pseudonym'] }}
        </mat-card-content>
      </mat-card>
    </span>
  </div>
</div>
