<mat-card>
  <mat-card-header>
    <mat-card-title>List</mat-card-title>
    <mat-card-subtitle>of Patients</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="action">
      <mat-form-field>
        <mat-label>Filter patients and organizations</mat-label>
        <input
          matInput
          type="text"
          (keyup)="applyFilter($event)"
          autocomplete="off"
        />
      </mat-form-field>
      <span class="spacer"></span>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
    <table mat-table matSort [dataSource]="dataSource">
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let patient; columns: displayedColumns"
        (click)="selectPatient(patient)"
      ></tr>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-icon class="header-icon">{{
            commonService.icons.patient
          }}</mat-icon>
          Patient
        </th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="organization">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-icon class="header-icon">{{
            commonService.icons.organization
          }}</mat-icon>
          Organization
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.organization }}
        </td>
      </ng-container>

      <ng-container matColumnDef="consultation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-icon class="header-icon">{{
            commonService.icons.consultation
          }}</mat-icon>
          Consultation
        </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon *ngIf="element.consultation" color="accent">{{commonService.icons.check}}</mat-icon>
          <mat-icon *ngIf="!element.consultation" color="warn">{{commonService.icons.uncheck}}</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="rating">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-icon class="header-icon">{{
            commonService.icons.rating
          }}</mat-icon>
          Rating
        </th>
        <td mat-cell *matCellDef="let element">
          <mat-chip-list>
            <mat-chip
              [color]="element.rating > 50 ? 'accent' : 'warn'"
              selected
            >
              {{ element.rating }}
            </mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>

      <ng-container matColumnDef="instruments">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-icon class="header-icon">{{
            commonService.icons.instrument
          }}</mat-icon
          >Instruments
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.instruments }}
        </td>
      </ng-container>

      <ng-container matColumnDef="screenings">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-icon class="header-icon">{{
            commonService.icons.screening
          }}</mat-icon
          >Screenings
        </th>
        <td mat-cell *matCellDef="let element">{{ element.screenings }}</td>
      </ng-container>
    </table>
  </mat-card-content>
</mat-card>
