@import 'variables';

.choose-instrument {
  display: inline-block;
  width: 500px;
  margin-right: 2em;
  margin-bottom: 2em;
  cursor: pointer;
}

.choose-instrument-card:hover {
  background: $hover;
}

.info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5em;
}

.justify-text{
  text-align: justify;
}
