<div *ngIf="instruments$ | async as instruments; else loading">
  
  <div *ngIf="instruments.length > 0">
    <div
      *ngFor="let instrument of instruments"
      class="choose-instrument"
      [routerLink]="'./' + instrument.id + '/screenings'"
    >
      <mat-card class="choose-instrument-card">
        <mat-card-header>
          <img mat-card-avatar [src]="instrument.image" />
          <mat-card-title>{{ instrument.name }}</mat-card-title>
          <mat-card-subtitle>Instrument</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{ instrument.description }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div *ngIf="instruments.length === 0">
    <feelback-doctor-empty-state [entity]="'instrument'"></feelback-doctor-empty-state>
  </div>
</div>

<ng-template #loading>
  <feelback-doctor-loading></feelback-doctor-loading>
</ng-template>
