<mat-card>
  <mat-card-header>
    <mat-card-title>Screening</mat-card-title>
    <mat-card-subtitle>of DATE</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <nav>
      <button
        mat-flat-button
        color="primary"
        *ngIf="!survey.isFirstPage"
        (click)="survey.prevPage()"
      >
        Prev
      </button>
      <button
        mat-flat-button
        color="primary"
        *ngIf="!survey.isLastPage"
        (click)="survey.nextPage()"
      >
        Next
      </button>
    </nav>
    <div id="surveyContainer"></div>
  </mat-card-content>
</mat-card>
