<mat-card id="screening">
  <mat-card-header>
    <mat-card-title>Screening</mat-card-title>
    <mat-card-subtitle>{{ screening.date }}</mat-card-subtitle>
    <span class="spacer"></span>
    <mat-paginator
    [length]="survey.pageCount"
    pageSize="1"
    hidePageSize="true"
    showFirstLastButtons
    (page)="changePage($event)"
  ></mat-paginator>
    <button
      id="closeButton"
      mat-icon-button
      matTooltip="Close screening"
      matTooltipPosition="above"
      color="warn"
      aria-label="Close screening"
      (click)="closeScreening()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <div id="surveyContainer"></div>
  </mat-card-content>
</mat-card>
