<div class="card-body questionnaire-card">
  <div>
    <nav class="questionnaire-nav row">
      <div class="col-2">
        <button class="btn btn-primary btn-sm prevButton" *ngIf="!loading && !survey.isFirstPage" (click)="prevPage()">
          Prev
        </button>
      </div>
      <div class="col-8"></div>
      <div class="col-2">
        <button class="btn btn-primary btn-sm prevButton" *ngIf="!loading && !survey.isLastPage" (click)="nextPage()">
          Next
        </button>
      </div>
    </nav>
    <div id="surveyContainer"></div>
    <nav class="questionnaire-nav row mt-3">
      <div class="col-2">
        <button class="btn btn-primary btn-sm prevButton" *ngIf="!loading && !survey.isFirstPage" (click)="prevPage()">
          Prev
        </button>
      </div>
      <div class="col-8"></div>
      <div class="col-2">
        <button class="btn btn-primary btn-sm nextButton" *ngIf="!loading && !survey.isLastPage" (click)="nextPage()">
          Next
        </button>
      </div>
    </nav>
  </div>
</div>
