@import 'variables';

.image-wrapper {
  position: relative;
}

.background {
  height: 400px;
  width: 400px;
  background-color: $primary;
  opacity: 0.2;
  border-radius: 50%;
}

.image {
  height: 400px;
  position: absolute;
  top: 0px;
}
