<div *ngIf="patient$ | async as patient; else loading">
  <div *ngIf="instruments$ | async as instruments; else loading">
    <div *ngIf="instruments.length > 0">
      <div class="choose-instrument">
        <feelback-doctor-instrument-info
          *ngFor="let instrument of instruments"
          (click)="selectInstrument(instrument['node']['id'])"
          class="choose-instrument-card"
          [instrument]="instrument['node']"
          [hoverable]="true"
        ></feelback-doctor-instrument-info>
      </div>
    </div>

    <div *ngIf="instruments.length === 0">
      <feelback-doctor-empty-state
        [entity]="'instrument'"
      ></feelback-doctor-empty-state>
    </div>
  </div>
</div>

<ng-template #loading>
  <feelback-doctor-loading></feelback-doctor-loading>
</ng-template>
