@import 'variables';

.choose-instrument {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.choose-instrument-card {
  width: calc(25% - 20px);
  min-width: 450px;
  margin-bottom: 2em;
  cursor: pointer;
}
