.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

.main {
  flex: 0 0 70%;
  max-width: 70%;
}

.sidebar {
  flex: 0 0 30%;
  max-width: 30%;
}

.chart-wrapper {
  height: 300px;
  width: 90%;
}

.ngx-charts .line-highlight {
  display: block !important;
}
