<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>{{ patient.name }}</mat-card-title>
    <mat-card-subtitle>{{ patient.organization }}</mat-card-subtitle>
    <span class="spacer"></span>
    <div class="stats">
      <span class="stats-value" matTooltip="Rating" matTooltipPosition="above">
        <mat-icon [color]="patient.rating > 50 ? 'accent' : 'warn'">star</mat-icon>
        <span>{{ patient.rating }}</span>
      </span>
      <span class="stats-value" matTooltip="Instruments" matTooltipPosition="above">
        <mat-icon>event_note</mat-icon>
        <span>{{ patient.instruments }}</span>
      </span>
      <span class="stats-value" matTooltip="Screenings" matTooltipPosition="above">
        <mat-icon>message</mat-icon>
        <span>{{ patient.screenings }}</span>
      </span>
    </div>
  </mat-card-header>
  <mat-card-content>
    <ng-content></ng-content>
  </mat-card-content>
</mat-card>
