<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>{{ patient.name }}</mat-card-title>
    <mat-card-subtitle>{{ patient.organization }}</mat-card-subtitle>
    <span class="spacer"></span>
    <div class="stats">
      <span
        class="stats-value"
        matTooltip="Consultation"
        matTooltipPosition="above"
      >
        <mat-icon
          [matBadge]="patient.consultation ? '✓' : '×'"
          [matBadgeColor]="patient.consultation ? 'accent' : 'warn'"
          matBadgeOverlap="false"
          >people</mat-icon
        >
      </span>
      <span class="stats-value" matTooltip="Rating" matTooltipPosition="above">
        <mat-icon
          [matBadge]="patient.rating"
          [matBadgeColor]="patient.rating > 50 ? 'accent' : 'warn'"
          matBadgeOverlap="false"
          >star</mat-icon
        >
      </span>
      <span
        class="stats-value"
        matTooltip="Instruments"
        matTooltipPosition="above"
      >
        <mat-icon
          [matBadge]="patient.instruments"
          matBadgeColor="primary"
          matBadgeOverlap="false"
          >event_note</mat-icon
        >
      </span>
      <span
        class="stats-value"
        matTooltip="Screenings"
        matTooltipPosition="above"
      >
        <mat-icon
          [matBadge]="patient.screenings"
          matBadgeColor="primary"
          matBadgeOverlap="false"
          >collections</mat-icon
        >
      </span>
    </div>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Distress Thermometer">
        <ng-template matTabContent>
          <feelback-doctor-distress-thermometer [patient]="patient"></feelback-doctor-distress-thermometer>
        </ng-template>
      </mat-tab>
      <mat-tab label="Instrument B">
        <ng-template matTabContent>
          <feelback-doctor-sample-instrument>
            Instrument B
          </feelback-doctor-sample-instrument>
        </ng-template>
      </mat-tab>
      <mat-tab label="Instrument C">
        <ng-template matTabContent>
          <feelback-doctor-sample-instrument>
            Instrument C
          </feelback-doctor-sample-instrument>
        </ng-template>
      </mat-tab>
      <mat-tab label="Instrument D">
        <ng-template matTabContent>
          <feelback-doctor-sample-instrument>
            Instrument D
          </feelback-doctor-sample-instrument>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
