<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>{{ patient.name }}</mat-card-title>
    <mat-card-subtitle>{{ patient.organization }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>
      <label>Rating:</label>
      <span>{{ patient.rating }}</span>
    </div>
    <div>
      <label>Instruments:</label>
      <span>{{ patient.instruments }}</span>
    </div>
    <div>
      <label>Screenings:</label>
      <span>{{ patient.screenings }}</span>
    </div>
  </mat-card-content>
</mat-card>
