<div *ngIf="instrument$ | async as instrument; else loading">
  <mat-card id="screenings">
    <mat-card-header>
      <mat-icon mat-card-avatar class="header-avatar"
        >{{ commonService.icons.screening }}</mat-icon
      >
      <mat-card-title>
        Distress Thermometer
      </mat-card-title>
      <mat-card-subtitle>
        Screenings
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content *ngIf="screenings$ | async as screenings; else loading">
      <mat-button-toggle-group #daterange="matButtonToggleGroup">
        <mat-button-toggle
          [checked]="selectedDaterange === 'last-year'"
          value="last-year"
          aria-label="last-year"
          (click)="selectDaterange(daterange.value)"
        >
          Last year
        </mat-button-toggle>
        <mat-button-toggle
          [checked]="selectedDaterange === 'current-year'"
          value="current-year"
          aria-label="current-year"
          (click)="selectDaterange(daterange.value)"
        >
          Current year
        </mat-button-toggle>
        <mat-button-toggle
          [checked]="selectedDaterange === 'current-month'"
          value="current-month"
          aria-label="Current month"
          (click)="selectDaterange(daterange.value)"
        >
          Current month
        </mat-button-toggle>
        <mat-button-toggle
          [checked]="selectedDaterange === 'last-month'"
          value="last-month"
          aria-label="Last month"
          (click)="selectDaterange(daterange.value)"
        >
          Last month
        </mat-button-toggle>
        <mat-button-toggle
          value="custom"
          aria-label="Custom"
          [checked]="selectedDaterange === 'custom'"
        >
          Custom
        </mat-button-toggle>
      </mat-button-toggle-group>

      <span *ngIf="daterange.value === 'custom'">
        <mat-form-field id="rangepicker" appearance="fill">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
            <input
              matStartDate
              formControlName="start"
              placeholder="Start date"
            />
            <input matEndDate formControlName="end" placeholder="End date" />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

        <button
          mat-icon-button
          aria-label="Change daterange"
          (click)="selectDaterange(daterange.value)"
        >
          <mat-icon>{{ commonService.icons.search }}</mat-icon>
        </button>
      </span>

      <span
        *ngIf="screenings[0].axis[0].series.length > 0"
        class="screeningNumber"
      >
        <mat-icon class="screeningIcon"
          >{{commonService.icons.screening}}</mat-icon
        >
        {{screenings[0].axis[0].series.length}} screenings found
      </span>

      <div *ngIf="screenings[0].axis[0].series.length > 0">
        <div class="chart-wrapper">
          <ngx-charts-line-chart
            [scheme]="commonService.colorScheme"
            xAxis="true"
            yAxis="true"
            yScaleMin="0"
            yScaleMax="10"
            timeline="true"
            [xScaleMin]="startDate"
            [xScaleMax]="endDate"
            [curve]="commonService.curveStepAfter"
            [results]="screenings[0].axis"
            (select)="selectScreening($event)"
          >
          </ngx-charts-line-chart>
        </div>
      </div>

      <div *ngIf="screenings[0].axis[0].series.length === 0">
        <feelback-doctor-empty-state
          [entity]="'screening'"
        ></feelback-doctor-empty-state>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #loading>
  <feelback-doctor-loading></feelback-doctor-loading>
</ng-template>
