#screenings {
  min-height: 450px;
}

.chart-wrapper {
  margin: 0 auto;
  text-align: center;
  height: 300px;
}

.ngx-charts .line-highlight {
  display: block !important;
}

mat-button-toggle-group {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 2em;
}

mat-form-field {
  margin-right: 1em;
}

.screeningNumber {
  margin-left: 3em;
}

.screeningIcon {
  position: relative;
  left: -5px;
  top: 7px;
}

#rangepicker {
  position: relative;
  top: 7px;
}
