<owl-carousel-o
  [options]="customOptions"
  [attr.data-cy]="'owl-carousel-' + select"
>
  <!-- testimonials -->
  <ng-container *ngIf="select === 'testimonial'">
    <ng-container *ngFor="let slide of slideStore">
      <ng-template carouselSlide [id]="slide.id">
        <div
          class="testimonials-single"
          [attr.data-cy]="'testimonial-' + slide.id"
        >
          <img
            [src]="slide.src"
            [alt]="slide.alt"
            [title]="slide.title"
            class="client-img"
          />
          <blockquote class="blockquote">
            {{ slide.review }}
          </blockquote>
          <h5 class="mt-4 mb-2">{{ slide.name }}</h5>
          <p class="text-primary">{{ slide.location }}</p>
        </div>
      </ng-template>
    </ng-container>
  </ng-container>
  <!-- gallery/default -->
  <ng-container *ngIf="select !== 'testimonial'">
    <ng-container *ngFor="let slide of slideStore">
      <ng-template carouselSlide [id]="slide.id">
        <img
          [src]="slide.src"
          [alt]="slide.alt"
          [title]="slide.title"
          [attr.data-cy]="select + '-img-' + slide.id"
        />
      </ng-template>
    </ng-container>
  </ng-container>
</owl-carousel-o>
