<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form>
      <mat-form-field appearance="outline">
        <mat-icon matPrefix>person</mat-icon>
        <mat-label>Username</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-icon matPrefix>vpn_key</mat-icon>
        <mat-label>Password</mat-label>
        <input matInput type="password" />
      </mat-form-field>
      <div class="remember-me">
        <mat-checkbox color="primary">Remember me</mat-checkbox>
      </div>
      <div class="action">
        <button mat-button (click)="forgotPassword()">Forgot password?</button>
        <span class="spacer"></span>
        <button mat-flat-button color="primary" (click)="login()">Login</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
